:root {
    --accent-color: rgba(40, 40, 44, .75);
}

.company-wrapper {
    display: flex;
    flex-direction: column;
}

.company-details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.duration {
    width: 4.125rem;
}

.position {
    display: grid;
    gap: 0 1rem;
    grid-template-columns: 4.125rem 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.position .year {
    grid-row: span 2;
}

.position li {
    padding-left: 1rem;
    font-size: 85%;
    color: var(--accent-color);
}

.title {
    display: flex;
    flex-direction: column;
    list-style: armenian;
}

.title code {
    padding-left: 1rem;
}

@media screen and (min-width:768px) {
    .company-details {
        display: grid;
        grid-template-columns: auto 1fr 8rem;
        grid-template-areas: "a b c";
    }

    .company {
        grid-area: b;
    }

    .duration {
        grid-area: a;
    }

    .location {
        grid-area: c;
        text-align: end;
    }
}

@media screen and (min-width: 1024px) {
    .year {
        padding-top: .13rem;
        padding-left: .125rem;
        font-size: 85%;
    }

    .description {
        padding-right: 8rem;
    }
}

@media print {

    .company-details {
        display: grid;
        grid-template-columns: auto 1fr 8rem;
        grid-template-areas: "a b c";
    }

    .company {
        grid-area: b;
    }

    .duration {
        grid-area: a;
    }

    .location {
        grid-area: c;
        text-align: end;
    }

    .description {
        padding-right: 6rem;
    }

    .link:hover {
        color: inherit;
    }
}