:root {
    --accent-color: rgba(40, 40, 44, .75);
}
* {
    /* outline: dotted 1px blue */
}

/* exp typography */

#experience {
    gap: 1rem;
}
.company-wrapper {
    display: flex;
    flex-direction: column-reverse;

}

.company {
    max-width: 75%;


}

.position-wrapper {
    display: grid;
    gap: 0 1rem;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "a b"
    "a c";
}

.position-wrapper .year {
    grid-row: span 2;
}

.description li {
    padding-left: 1rem;
    font-size: 85%;
    color: var(--accent-color);
    /* font-variant: normal; */
}

@media screen and (min-width:768px) {

    #experience .text-wrapper {
        display: grid;
        grid-template-columns: auto 30%;
    }
}

@media screen and (min-width: 1024px) {
    #experience .text-wrapper {
        grid-template-columns: auto auto;
    }
}

@media print {
    #experience .text-wrapper {
        display: grid;
        grid-template-columns: auto 22%;
    }
}