* {
    /* outline: 1px dotted blue; */
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .9rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    border-radius: .25rem;
}

.project-details {
    color: var(--offwhite);
    background-color: var(--overlay);
    border-radius: inherit;
}

.project-details h2, .project-details h3 {
    padding-left: .25rem;
}

.project-details h2 {
    font-size: 1.5rem;
}

.project-details p {
    color: var(--gray);
    padding: 0 .75rem;
    word-spacing: .25rem;
    font-size: .95rem;
}