.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .9rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    border-radius: .25rem;
}

.project-details {
    color: var(--offwhite);
    background-color: var(--overlay);
    border-radius: inherit;
}

.project-details h2,
.project-details h3 {
    padding-left: .25rem;
}

.project-details h2 {
    font-weight: 600;
    width: fit-content;
    border-bottom: 1px solid var(--gray);
    font-size: 1.5rem;
}

.project-links span {
    transition: color 1s;
}

.project-links span:hover {
    color: red;
}

.project-details p {
    padding: 0 .75rem;
    word-spacing: .25rem;
}

@media screen and (min-width: 768px) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }

    .highlight {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio {
        grid-template-columns: repeat(4, 1fr);
    }
}