/* screenshots | solo */
#address-book {
    background-image: url('../../assets/images/small/address-book.jpg');
}
#bluestrawberry {
    background-image: url('../../assets/images/small/bluestrawberry.jpg');
}

#coding-quiz {
    background-image: url('../../assets/images/small/coding-quiz.jpg');
}

#css-portfolio {
    background-image: url('../../assets/images/small/css-portfolio.jpg');
}

#day-planner {
    background-image: url('../../assets/images/small/day-planner.jpg');
}

#escowinart {
    background-image: url('../../assets/images/small/escowinart.jpg');
}

#note-taker {
    background-image: url('../../assets/images/small/note-taker.jpg');
}

#password-generator {
    background-image: url('../../assets/images/small/password-generator.jpg');
}

#portfolio-generator {
    background-image: url('../../assets/images/small/portfolio-generator.jpg');
}

#readme-generator {
    background-image: url('../../assets/images/small/readme-generator.jpg');
}

#social-network {
    background-image: url('../../assets/images/small/social-network-api.jpg');
}

#solar-weather {
    background-image: url('../../assets/images/small/solar-weather.jpg');
}

#team-profile-generator {
    background-image: url('../../assets/images/small/team-profile-generator.jpg');
}

#vvh-financial {
    background-image: url('../../assets/images/small/vvh-financial.jpg');
}

#weather-dashboard {
    background-image: url('../../assets/images/small/weather-dashboard.jpg');
}

/* screenshots | collaborations */
#auction-house {
    background-image: url('../../assets/images/large/auction-house.jpg');
}

#raven-home {
    background-image: url('../../assets/images/large/raven-home.jpg');
}

#smart-home {
    background-image: url('../../assets/images/large/smart-home.jpg');
}