/* resume main */
#resume-body {
    padding: 1rem;
    font-weight: 500;
}
.center {
    text-align: center;
}

.right, .right-text {
    text-align: end;
}

/* resume main */
.resume-subhead {
    border-top: 2px solid var(--offblack);
    border-bottom: 2px solid var(--offblack);
    border-left: 2px solid var(--offblack);
    text-indent: 1%;
    padding: 10px;
}

/* subsection formatting*/
.section {
    border-right: 2px solid var(--offblack);
    padding: 1rem 0 1rem 0;
}

.row {
    display: flex;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: .25vh;
    padding-bottom: .25vh;
}

/* all columns */
#resume-header article, .left-text, .right-text {
    flex-grow: 1;
}

/* left columns */
.year {
    width: auto;
}

/* right columns */
.skillset {
    word-spacing: .75rem;
}

.text-wrapper {
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 1%;
}

.text-wrapper {
    display: inherit;
}



/* span classes */
.print {
    display: none;
}

.bold {
    font-weight: 600;
}

.year {
    font-weight: 600;
}
.details {
    padding-left: 2%;
    color: rgba(40, 40, 44, .8);
    font-size: smaller;
}

.role {
    list-style-type: '･ ';
    padding-left: 2rem;
}

.exp {
    font-size: .65rem;
    text-align: end;
    color: rgba(40, 40, 44, .75);
}

/* exp typography */
#experience .details {
    text-transform: lowercase;
}

/* display.print */
@media print {
    header, footer, .email {
        display: none;
    }

    .print {
        display: inherit;
    }
    
    .print-hide {
        display: none;
    }

    #resume-header {
        padding-bottom: 1rem;
    }

    #resume-header .right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #resume-footer {
        padding: .5rem 0;
    }
    
    .text-wrapper {
        align-items: flex-start;
    }

    .section {
        padding: .85rem 0 .85rem 0;
    }

    #skills {
        gap: .2rem 1rem;
    }

    #skills .row {
        display: grid;
        grid-template-columns: 20% 80%;
    }

    #skills .left-text {
        width: 10vw;
    }

    .row {
        padding-top: .15vh;
        padding-bottom: .15vh;
    }
}


/* display.small-laptop */
@media screen and (max-width: 1024px) {
    .small-laptop {
        display: block;
    }

    #skills .row {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

/* display.mobile */
@media screen and (max-width: 500px) {
    .mobile-hide {
        display: none;
    }

    .section {
        padding: 2vw 0;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
    }

    .right-text {
        font-size: 1rem;
        text-align: start;
    }

    .left-text, #endeavors .right-text .details {
        font-size: .8rem;
        padding-left: 2vw;
    }
    
    #experience .left-text, #education .left-text, #endeavors .left-text {
        order: 2;
    }

    #education .details, #experience .right-text .details {
        display: none;
    }

    #education .left-text {
        font-size: .8rem;
    }

    #education .right-text {
        font-size: 1rem;
    }
}

