#about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-sm);
}

#profile-pic {
    border-radius: 50%;
    width: 35vw;
    margin: var(--space-sm);
    border: 1px solid var(--dark-accent);
}

#profile-text h2 {
    margin: var(--space-lg) 0 var(--space-xs) 0;
    padding-right: var(--space-xs);
    border-bottom: 1px solid var(--dark-accent);
    width: fit-content;
}

#bio {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: 0 var(--space-lg);
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 768px) {
    #about {
        padding: 0 10vw;
        font-size: var(--font-size-lg);
    }

    #profile-pic {
        width: 25vw;
    }
}

@media screen and (min-width: 1024px) {

    #about {
        gap: var(--space-md) var(--space-sm);
    }

    #profile-pic-wrapper {
        grid-row: span 2;
    }

    #profile-pic {
        width: 15vw;
    }

    #bio {
        grid-column: span 1;
    }

    #profile-text h2 {
        margin-top: var(--space-md);
        width: 30vw;
    }
}