.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .9rem;
}

.highlight {
    grid-column: span 2;
}

.app {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 40vh;
    border-radius: .25rem;
}

.app-details {
    color: var(--offwhite);
    background-color: var(--overlay);
    border-radius: .25rem .25rem 0 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 .5rem;
}

.tech-label {
    font-weight: bold;
    color: var(--accent);
    font-size: 0.9rem;
}

.app-details h2,
.app-details h3 {
    padding-left: .25rem;
    grid-column: span 2;
}

.app-details h2 {
    font-weight: 600;
    width: fit-content;
    border-bottom: 1px solid var(--gray);
    font-size: 1.5rem;
}

.app-details svg {
    padding-left: .5rem;
}

.app-links span {
    transition: color 1s;
}

.app-links span:hover {
    color: red;
}

.app-details p {
    padding-right: .5rem;
    word-spacing: .25rem;
}

@media screen and (min-width: 768px) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .portfolio {
        grid-template-columns: repeat(4, 1fr);
    }
}