:root {
    --border: 1px solid var(--offblack)
}

/* display toggles */
.display-print {
    display: none;
}

.display-md {
    display: none;
}

.display-lg {
    display: none;
}

/* typography */
.resume-subhead,
.resume-section {
    font-family: 'Lexend Mega', Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

.link {
    transition: color 1s;
}

.link:hover {
    color: red;
}

/* resume sections */
.resume-subhead {
    border: var(--border);
    border-right: none;
    padding: .5rem .75rem;
}

/* subsection formatting*/
.resume-section {
    border-right: var(--border);
    padding: 2vw 1vw 2vw 2vw;
    display: flex;
    flex-direction: column;
    gap: .25vh;
}

.row {
    display: grid;
    grid-template-columns: 15vw auto;
    gap: 1rem;
}

.bold {
    font-weight: 600;
}

.details {
    padding-left: 2%;
    color: rgba(40, 40, 44, .8);
}

.role {
    list-style-type: '･ ';
    padding-left: 2rem;
}

/* sections */
.text-wrapper {
    display: flex;
    flex-direction: column;
}

.left-text {
    display: flex;
    flex-direction: column;
}

.right-text {
    text-align: start;
    padding-left: 1rem;
}

@media screen and (min-width: 768px) {
    .display-md {
        display: inline-block;
    }

    .row {
        grid-template-columns: 8.5vw auto;
        gap: 1rem;
    }


    .left-text {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-end;
    }

    .left-text p {
        text-align: end;
    }
}

@media screen and (min-width: 1024px) {
    .display-lg {
        display: contents;
    }

    .resume-section {
        padding: 1vw;
    }

    .row {
        grid-template-columns: 4rem auto;
    }

    .left-text {
        font-size: .9rem;
    }
}

/* display.print */
@media print {
    /* display toggle */
    .display-screen {
        display: none
    }

    header, footer {
        display: none;
    }

    .display-print {
        display: inherit;
    }

    /* sections */
    .resume-section {
        padding: .75rem .85rem;
    }

    .row {
        grid-template-columns: 4rem auto;
        gap: .5rem;
    }

    .left-text {
        order: inherit;
    }

    .right-text {
        text-align: end;
    }

    .details {
        font-size: smaller;
    }

}
