/* * {
    outline: 1px dotted blue;
} */

#resume-header {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#screen-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

#links {
    border-top: 1px solid var(--offblack);
    border-right: 1px solid var(--offblack);
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding: .5rem 1vw;
}

#links p:nth-child(1) {
    display: none;
}

#resume-header p {
    display: flex;
    align-items: center;
}

/* fa icons */
svg {
    width: 1.25rem;
}

@media screen and (min-width: 768px) {
    #links p:nth-child(1) {
        display: inherit;
    }
}

@media screen and (min-width: 1024px) {
    #screen-details {
        padding: 0 1vw;
    }

}

@media print {
    @import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

    #screen-details {
        display: none;
    }

    #links p:nth-child(1) {
        display: inherit;
    }

    #print-details {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    #links {
        padding: .5rem 1rem;
    }

    svg {
        width: 1.75rem;
    }
}