#resume-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

.center {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.center .display-screen {
    font-size: 2rem;
    font-weight: 600;
}

.center h2 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.center .display-screen svg {
    height: .5rem;
}

/* fa icons */
svg {
    width: 1.25rem;
}

@media screen and (min-width: 1024px) {
    #resume-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 2vh;
    }
    
    .left, .center, .right {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
    
    .left {
        align-items: flex-start;
    }
    
    .center {
        align-items: center;
    }
    
    .right {
        align-items: flex-end;
    }
}

@media print {
    #resume-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: .75rem;
    }
    
    .left, .center, .right {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    .left {
        align-items: flex-start;
    }
    
    .center {
        align-items: center;
        gap: 0;
    }
    
    .right {
        align-items: flex-end;
    }

    #location {
        order: 2;
    }

    #resume-header p {
        display: flex;
        align-items: center;
    }

    svg {
        width: 1.75rem;
    }
}