#contact-links {
    padding-left: .75rem;
    gap: .25rem;
}

.icon {
    width: fit-content;
}

.icon svg {
    width: 1.375rem;
    height: 1.375rem;
}

.icon-symbol {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: var(--offblack);
    transition: color 0.2s ease;
}

.icon:hover .icon-symbol {
    color: var(--red);
}

@media screen and (min-width: 1024px) {
    #contact-links {
        gap: 1rem;
    }
}
