#contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .75rem;
    gap: .25rem;
}

.icon {
    width: fit-content;
    display: flex;
}

.icon svg {
    width: 2rem;
    font-size: 1.25rem;
}

.icon-symbol {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
    #contact-links {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
}
