#skills {
    display: grid;
    grid-template-columns: repeat(1, auto 1fr);
    gap: .5rem 1rem;
    word-spacing: .5rem;
    align-items: baseline;
}

@media print {

    #skills {
        gap: .0 1rem;
    }

    .skillset {
        font-size: .9rem;
    }
}