#skills {
    display: grid;
    grid-template-columns: 4.125rem 1fr;
    gap: .5rem 1rem;
    word-spacing: .5rem;
    align-items: baseline;
}

@media screen and (min-width: 1024px) {
    #skills {
        grid-template-columns: auto 1fr;
    }
}

@media print {

    #skills {
        gap: .15rem 1rem;
        font-size: 95%;
        /* grid-template-columns: auto 1fr; */
    }
    
    .skill-type {
        text-indent: .5rem;
    }
}