#extracurricular .details {
    display: none;
}

#extracurricular .right-text {
    font-size: 85%;
}

@media screen and (min-width: 768px) {

    #extracurricular .text-wrapper {
        justify-content: space-between;
    }

    #extracurricular .left-text {
        flex-grow: 1;
        min-width: 40%;
        padding-left: 0;
    }

    #extracurricular .left-text .details {
        display: initial;
    }
}

@media screen and (min-width: 1024px) {
    #extracurricular .left-text {
        min-width: revert;
    }

    #extracurricular .right-text {
        min-width: revert;
    }
}

@media print {

    #extracurricular .left-text {
        display: grid;
        grid-template-columns: 1fr 15rem;

    }
    #extracurricular .details {
        text-align: end;
        display: block;
    }

    #extracurricular .right-text {
        text-align: start;
    }
}