#skills {
    display: grid;
    grid-template-columns: repeat(1, auto 1fr);
    gap: .25rem 1rem;
    word-spacing: .5rem;
}

@media print {
    #skills {
        gap: .15rem 1rem;
    }

    .skillset {
        font-size: .9rem;
    }
}