#extracurricular .details {
    display: none;
}

#extracurricular .left-text {
    padding-left: 1rem;
}


@media screen and (min-width: 768px) {

    #extracurricular .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #extracurricular .left-text {
        flex-grow: 1;
        min-width: 40%;
        padding-left: 0;
    }

    #extracurricular .right-text {
        min-width: 35%;
    }

    #extracurricular .left-text .details {
        display: initial;
    }
}

@media screen and (min-width: 1024px) {
    #extracurricular .left-text {
        min-width: revert;
    }

    #extracurricular .right-text {
        min-width: revert;
    }

}

@media print {
    #extracurricular .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #extracurricular .left-text {
        flex-grow: 1;
        min-width: 45%;
        padding-left: 0;

    }
    #extracurricular .details {
        display: initial;
    }
}