@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --offwhite: rgb(230, 230, 230);
  --offoffwhite: rgba(230, 230, 230, .6);
  --offblack: rgb(40, 40, 44);
  --offoffblack: rgba(40, 40, 40, .8);
  --red: rgb(179, 24, 24);
}

/* header */
header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--offblack);
  color: var(--offwhite);
  box-shadow: 0px 10px 30px var(--offoffblack);
  border-radius: 0 0 45% 45%;
  padding-bottom: .5vw;
}

#header h1 {
  border-bottom: 1px solid var(--offoffwhite);
  font-size: 1.75rem;
}

#header p {
  padding-top: .2vw;
}

#navigation {
  padding: .75vw 0;
}

#navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  background-color: var(--offblack);
  color: var(--offwhite);
  padding: .1vw 1.5vw;
  border-radius: .75rem;
  transition-duration: 1s;
}

.nav-link:hover {
  color: var(--red);
  box-shadow: 0 5px 25px var(--red);
}

/* sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.subheader {
  display: flex;
  align-items: center;
  padding: .25vw 6vw;
  border-radius: .20rem .20rem 2rem 2rem;
  border-bottom: 1px solid var(--offoffblack);
  text-shadow: 0 0 10px var(--offblack);
  text-align: center;
}

/* component.About */
#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0px 0px 20px var(--offblack);
  margin: 1rem;
}

#about-text {
  text-align: left;
}

/* component.Projects */
.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-screenshot {
  border-radius: 2.5rem;
  width: 100%;
  margin: 1vw 0;
}

/* TEXT ELEMENTS */
a {
  text-decoration: none;
  color: inherit;
  transition-duration: 1s;
}

a:hover {
  color: var(--red);
  text-shadow: 10px 5px 15px var(--red);
}

@media screen and (min-width: 768px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1vw;
  }
}

@media screen and (min-width: 1024px) {
  /* placeholder */
}