@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Lexend+Mega:wght@200&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  box-sizing: border-box;
  /* outline: 1px solid blue; */
}

:root {
  --offwhite: rgb(230, 230, 230);
  --gray: rgba(230, 230, 230, .6);
  --offblack: rgb(40, 40, 44);
  --overlay: rgba(40, 40, 40, .9);
  --dark-accent: rgb(145, 145, 145);
  --red: rgb(179, 24, 24);
}

main {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

/* list styles */
ul {
  list-style: none;
}

/* footer */
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--offwhite);
  font-family: 'Alegreya Sans SC', sans-serif;

}

footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 2vh;
  margin: 0 .75vw 1vh .75vw;
  border-bottom: 1px solid var(--offoffblack);
  border-radius: 0 0 40px 40px;
  box-shadow: 0 5vh 25px var(--offoffblack);
}

.left-btn {
  border-bottom-left-radius: .75rem;
}

.right-btn {
  border-bottom-right-radius: .75rem;
}

/* sections */

/* .description {
  font-size: 1rem;
  margin-left: 2vw;
  padding: 0 1vw;
  border-left: 1px solid var(--offoffwhite);
  margin-bottom: .25vh;
} */

/* component.About */
.app-description {
  font-family: 'Raleway', sans-serif;
}

/* components.Contact */
#contact-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2vw;
  justify-content: center;
}

.btn {
  background-color: var(--offblack);
  color: var(--offwhite);
  border-radius: .5rem;
  padding: .75vw 3vw;
  font-size: 1.5rem;
}

/* TEXT ELEMENTS */
.underline {
  border-bottom: 1px solid var(--offoffwhite);
  flex-grow: 1;
}


/* display.tablet */
@media screen and (min-width: 768px) {
  .left-btn {
    border-bottom-left-radius: 1rem;
  }
  
  .right-btn {
    border-bottom-right-radius: 1rem;
  }
  /* component.Projects */
  .projects-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 1024px) {
  /* component.Projects */
  .project {
    background-color: aqua;
  }

  .project-screenshot {
    border-radius: 2rem;
  }

  .project-title {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-title , .app-code, .app-description {
    padding: 0 2vw;
  }

  .project-urls {
    font-size: 1.125rem;
    text-align: end;
  }

  .app-description {
    font-family: 'Raleway', sans-serif;
  }
}