@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --offwhite: rgb(230, 230, 230);
  --offoffwhite: rgba(230, 230, 230, .6);
  --offblack: rgb(40, 40, 44);
  --offoffblack: rgba(40, 40, 40, .8);
  --red: rgb(179, 24, 24);
}

/* footer */
body {
  background-color: var(--offwhite);
}

header, footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

footer {
  padding-top: 2vh;
  margin: 0 .75vw 1vh .75vw;
  border-bottom: 1px solid var(--offoffblack);
  border-radius: 0 0 40px 40px;
  box-shadow: 0 5vh 25px var(--offoffblack);
}

/* header */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--offblack);
  color: var(--offwhite);
  box-shadow: 0px 10px 30px var(--offoffblack);
  border-radius: 0 0 1.5rem 1.5rem;
  padding-bottom: .5vw;
}

#header h1 {
  border-bottom: 1px solid var(--offoffwhite);
  font-size: 1.75rem;
}

#header p {
  padding-top: .2vw;
}

#navigation {
  padding: .75vw 0;
}

#navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.nav-link {
  background-color: var(--offblack);
  color: var(--offwhite);
  padding: .2vw 1.75vw;
  border-radius: .25rem .25rem .5rem .5rem;
  transition-duration: 1s;
}

.left-btn {
  border-bottom-left-radius: .75rem;
}

.right-btn {
  border-bottom-right-radius: .75rem;
}

/* .nav-link:hover {
  color: var(--red);
  box-shadow: 0 5px 25px var(--red);
} */

/* sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 5px 10px;
  background-color: var(--offwhite);
}

.subheader {
  display: flex;
  align-items: flex-end;
  padding: .25vw 6vw;
  border-radius: .20rem .20rem .75rem 2rem;
  border-bottom: 1px solid var(--offoffblack);
  text-shadow: 5px 0 .75rem  var(--offoffblack);
  margin-bottom: 1.25vh;
}

.description {
  font-size: 1rem;
  margin-left: 2vw;
  padding: 0 1vw;
  border-left: 1px solid var(--offoffwhite);
  margin-bottom: .25vh;
}

/* component.About */
#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0px 0px 20px var(--offblack);
  margin: 1rem;
}

#about-text {
  text-align: left;
}

/* component.Projects */
.projects-grid {
  display: grid;
  /* grid-template-columns: auto; */
  justify-content: center;
  grid-gap: 5vh
}

.project-screenshot {
  border-radius: 2.5rem;
  width: 100%;
  margin-top: 1vw;
  transition-duration: 1s;
}

.project-title {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title , .app-code, .app-description {
  padding: 0 5vw;
}

.project-urls {
  font-size: 1.125rem;
  text-align: end;
}

.app-description {
  font-family: 'Raleway', sans-serif;
}

/* components.Contact */
#contact-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2vw;
  justify-content: center;
}

.btn {
  background-color: var(--offblack);
  color: var(--offwhite);
  border-radius: .5rem;
  padding: .75vw 3vw;
  font-size: 1.5rem;
}

/* TEXT ELEMENTS */
.underline {
  border-bottom: 1px solid var(--offoffwhite);
  flex-grow: 1;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  transition-duration: 1s;
}

a:hover, .navActive {
  color: var(--red);
  text-shadow: 0 0 .25vw var(--red);
}

.navActive:hover {
  box-shadow: 0 1vh 1.5vw var(--offoffblack);
}


.project-screenshot:hover {
  box-shadow: 0 0 1.5vw var(--red);
}

/* display.tablet */
@media screen and (min-width: 768px) {
  /* component.Nav */
  header {
    border-radius: 0 0 10% 25%;
  }

  .nav-link {
    padding: .5vw 2.75vw;
    font-size: 1.25rem;
    border-radius: .5rem;
  }

  .left-btn {
    border-bottom-left-radius: 1rem;
  }
  
  .right-btn {
    border-bottom-right-radius: 1rem;
  }
  /* component.Projects */
  .projects-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 1024px) {
  /* component.Projects */
  .project {
    background-color: aqua;
  }

  .project-screenshot {
    border-radius: 2rem;
  }

  .project-title {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-title , .app-code, .app-description {
    padding: 0 2vw;
  }

  .project-urls {
    font-size: 1.125rem;
    text-align: end;
  }

  .app-description {
    font-family: 'Raleway', sans-serif;
  }
}

@media screen and (min-width: 1440px) {
  /* section */

  .subheader {
    font-size: 1.75rem;
  }
  .description {
    font-size: 1.5rem;
  }

  /* about */
  #about-container {
    align-items: flex-start;
  }

  #about-text {
    margin-top: 2vh;
  }

  #about-text h3 {
    font-size: 1.5rem;
    /* border-bottom: 1px solid var(--offoffwhite); */
  }

  /* projects */
  .projects-grid {
    grid-template-columns: repeat(3, 31%);
  }
  
}