* {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

:root {
  --offwhite: rgb(230, 230, 230);
  --offoffwhite: rgba(230, 230, 230, .6);
  --offblack: rgb(40, 40, 44);
  --offoffblack: rgba(40, 40, 40, .8);
  --red: rgb(179, 24, 24);
}

.flex {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

/* TEXT ELEMENTS */
a {
  text-decoration: none;
  color: var(--offwhite);
  transition-duration: 1s;
}

a:hover {
  color: var(--red);
  text-shadow: 10px 5px 15px var(--red);
}

/* HEADER */
#header {
  color: var(--offwhite);
}

header {
  padding: 20px;
  position: sticky;
  background-color: var(--offblack);
  box-shadow: 0px 10px 30px var(--offoffblack);
  justify-content: center;
  border-radius: 0 0 70px 70px;
}

header h1 {
  border-right: 1px solid ;
  border-left: 1px solid ;
}

header h1, header p, footer h2, footer p {
  padding: 0px 20px;
}

#footer-container {
  align-items: center;
}

footer {
  margin: .5vw;
  padding: 20px;
  background-color: var(--offblack);
  color: var(--offwhite);
  box-shadow: -10px -10px 30px var(--offoffblack);
  border-radius: 90px;
  text-align: center;
}

/* NAVIGATION */
nav {
  margin: 10px 0;
}

nav ul {
  list-style: none;
  justify-content: space-around;
}

nav ul li {
  padding: 10px 20px 10px 20px;
  background-color: var(--offoffblack);
  box-shadow: 10px 10px 30px var(--offoffblack);
  border-radius: 10px;
  transition-duration: 2s;
}

nav ul li:hover {
  background-color: var(--offblack);
}


/* SECTIONS ABOUT & PROJECTS */
.sections {
  padding: 5vw;
  justify-content: center;
  text-align: center;
}

#projects h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--offoffblack);
  border-radius: 10px;
  text-shadow: 5px 10px 40px var(--offoffblack);
}