#education .right-text .details {
    display: none;
}

.education-details {
    font-size: 85%;
}
.degree {
    padding-left: 1rem;
}

.major {
    font-size: 85%;
}
@media screen and (min-width: 768px) {
    .school-details {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-end;
    }

    .school-details .details {
        text-align: end;
    }

    .major {
        padding-left: 1rem;
    }

    .degree {
        padding-left: 0;
    }
}

@media print {
    .school-details {
        display: grid;
        grid-template-columns: 1fr 8rem;
        align-items: center;
    }

    .school-details p {
        text-align: end;
    }
    

    .major {
        padding-left: 1rem;
    }
    .degree {
        padding-left: 0;
        display: flex;
    }
}