#education .right-text .details {
    display: none;
}

.degree {
    padding-left: 1rem;
}

@media screen and (min-width: 768px) {
    #education .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #education .right-text .details {
        display: initial;
    }

    .degree {
        padding-left: 0;
    }
}

@media print {
    #education .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #education .right-text .details {
        display: initial;
    }

    .degree {
        padding-left: 0;
        display: flex;
    }
}