#education .right-text .details {
    display: none;
}

.degree {
    padding-left: 1rem;
}

@media screen and (min-width: 768px) {
    .school-details {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-end;
    }

    .school-details .details {
        text-align: end;
    }

    .major {
        padding-left: 1rem;
    }

    .degree {
        padding-left: 0;
    }
}

@media print {
    #education .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    #education .right-text .details {
        display: initial;
    }

    .degree {
        padding-left: 0;
        display: flex;
    }
}